# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Simulated mission data from test mission
missions/testMission/*

# Misc files to exclude
missions/testMission/.LastOpenedMOOSLogDirectory

# Built / bin files
build/*
bin/*

# Notes
notes.txt
